{% extends 'Base/Base.html' %}

{% block content %}
<style>
    .navbar {
      background-color: #fff !important;
      box-shadow: 0px 0px 10px #0003;
    }
    .navbar-brand{
      color: #222 !important;
    }
    .navbar-light .navbar-nav .nav-link{
      color: #222 !important;
    }
    a.nav-link.search{
      border-color: #222;
    }
    #find .title{
      display: inline-block;
      padding: 0 45px;
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      overflow-wrap: break-word;
    }
    #find .title::before{
      background: #a25ded;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      width: 30px;
    }
    #find .title::after{
      background: #a25ded;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
    }
    #find {
      padding: 130px 15px;
    }
    #find .form {
      max-width: 360px;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 767.5px){
      h1.title{
        font-size: 23px;
      }
      #find .text{
        font-size: 11px;
      }
    }
    @media (min-width: 768px){
      #find .text{
        font-size: 12px;
      }
    }
    #find .text{
      margin-top: 20px;
      text-align: center;
    }
  </style>
      
  <div id="find">
    <div class="form">
        <h1 class="title">메일전송성공</h1>
        <p class="text mt-5">
          입력하신 메일을 확인해주세요.
        </p>
        <button class="btn btn-primary w-100 mt-4" onclick="location.href = '/'">홈으로 이동</button>
    </div>
  </div>
  
{% endblock %}