<style>
  #Banner {
    background-image: url('/media/partner_banner.webp');
    background-position: center;
    background-size: cover;
    position: relative;
  }
  #Banner .text_box{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
  }
  #Banner .text_box::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #001655;
    opacity: 0.5;
    display: block;
    content: '';
    z-index: 0;
    left: 0;
    top: 0;
  }
  #Banner .text_box h1, #Banner .text_box p{
    z-index: 1;
  }
  @media (max-width: 767.5px){
    #Banner{
      height: 200px;
    }
    #Banner .text_box{
      padding-top: 70px;
    }
  }
  @media (min-width: 768px){
    #Banner{
      height: 250px;
    }
    #Banner .text_box{
      padding-top: 80px;
    }
    #Banner .text_box h1{
      font-size: 55px;
    }
    #Banner .text_box p{
      font-size: 18px;
    }
  }
</style>

<div id="Banner">
  <div class="text_box container">
    <h1>Bolt&Nut Project</h1>
    <p>​볼트앤너트에서 진행 중인 프로젝트를 확인해보세요</p>
  </div>
</div>


<script type="text/javascript">
</script>